body {
  background: linear-gradient(
      -45deg,
      #050816,
      #0b1120,
      #111827,
      #050816
  );

  background-size: 400% 400%;

  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {

0%{
background-position:0% 50%;
}

50%{
background-position:100% 50%;
}

100%{
background-position:0% 50%;
}

}